div.cabecera {
    background: red ;
    background-size: contain;
    color: white;
    border: 2px;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    text-align: center;
    }

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 56px;
    text-decoration: none;
    margin: 5px;
    font-weight: bold;
    width: 150px;
    height: 20px;
    transition: width 2s, height 2s;
}

.topnav {
    overflow: hidden;
    background-color: red;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.topnav a:hover {
    background-color: #ddd;
    color: red;       
}

div.fondo {
    background-color: red;
    border-radius: 0px 0px 5px 5px;
    margin: 0;
    color: white;
    text-align: center;
}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
    
    font-size: 18px;
    font-weight: bold;
  }

a:link,
a:visited {
	color: darkgrey;
	font-weight: bold;
}
a:hover {
	color: rgb(91, 53, 229);
}